html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #181818; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  overflow-x: hidden;
  color: #181818; }

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

button {
  cursor: pointer;
  color: #ffffff;
  border: none; }

.container {
  max-width: 1680px;
  min-height: 985px;
  margin: 0 auto; }

@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialMT.ttf");
  src: local(""), url("../fonts/ArialMT.woff") format("woff"); }
@font-face {
  font-family: 'Teodor-Thin';
  src: url("../fonts/Teodor-Thin.ttf");
  src: local(""), url("../fonts/Teodor-Thin.woff") format("woff"), url("../fonts/Teodor-Thin.woff2") format("woff2"); }
@font-face {
  font-family: 'TTHoves-Light';
  src: url("../fonts/TTHoves-Light.ttf");
  src: local(""), url("../fonts/Teodor-Thin.woff2") format("woff2"); }
@font-face {
  font-family: 'TTHoves-Regular';
  src: url("../fonts/TTHoves-Regular.ttf");
  src: local(""), url("../fonts/TTHoves-Regular.woff2") format("woff2"); }
.input {
  width: 348px;
  height: 61px;
  background: #F5F5F5;
  border: none;
  outline: #F5F5F5;
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-left: 15px;
  margin-bottom: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #686868; }

.btn {
  width: 348px;
  height: 49px;
  background: #4C0DCE;
  border-radius: 100px;
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 49px;
  text-transform: uppercase; }
  .btn_modify {
    margin-top: 7px; }
  .btn_login {
    position: relative; }
    .btn_login:before {
      content: url("../assets/fox-icon.png");
      position: absolute;
      top: 10.1px;
      left: 17.2px; }

@media (max-width: 480px) {
  .btn_login {
    width: 341px; }
    .btn_login:before {
      top: 9.4px;
      left: 18.5px; } }
.title {
  width: 100%;
  margin-bottom: 44.5px;
  font-family: "Teodor-Thin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: -0.01em;
  text-align: center; }
  .title_modify {
    margin-bottom: -5.5px; }
  .title_login-modify {
    margin-bottom: 26px; }

.descr {
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 19px 0 29.5px 0;
  line-height: 21.6px; }
  .descr_modify {
    text-align: center; }
  .descr_pt {
    padding-top: 19.6px; }

@media (max-width: 480px) {
  .title_login-modify {
    padding: 0 56px;
    margin-bottom: 20px;
    line-height: 45px; } }
.header {
  margin: 15px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.burger {
  display: none;
  width: 20px;
  height: 20px;
  position: relative; }
  .burger__item {
    position: absolute;
    width: 16px;
    height: 1px;
    background: #181818;
    left: 50%;
    transform: translateX(-50%); }
  .burger_top {
    top: 6.5px; }
  .burger_bottom {
    bottom: 7px; }

.logo, .login-block {
  width: 190px;
  height: 30px; }

.logo {
  margin: auto 0; }

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 396px;
  height: 40px;
  border: 1px solid #DADFEB;
  border-radius: 70px; }
  .tabs__item {
    width: 124px;
    height: 100%;
    border-radius: 100px;
    color: #686868;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px; }
    .tabs__item_active {
      background: #F5F5F5;
      color: #181818; }

.login-block {
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  width: 190px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.02em;
  text-transform: uppercase; }
  .login-block__inner {
    width: 152.2px;
    height: 20px;
    margin: auto 0 auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap; }
  .login-block__login {
    padding-top: 5.2px;
    padding-right: 1.7px;
    color: #181818; }

.tabs_active {
  display: block; }

.links-block {
  width: 348px;
  margin: 49.2px auto 0 auto; }

@media (max-width: 1100px) {
  .header {
    margin: 20px 10px; } }
@media (max-width: 850px) {
  .burger {
    display: block; }

  .tabs,
  .login-block__question,
  .login-block__login {
    display: none; }

  .login-block,
  .login-block__inner {
    width: auto;
    margin: 0; }

  .logo {
    width: 139.33px;
    height: 22px;
    margin: 0 auto; }

  .question {
    margin-top: 11px; } }
.form-block {
  margin: 165px auto 0 auto;
  width: 348px; }

.form-block_hide {
  display: none; }

.form {
  width: 100%; }

.links-block__forgot {
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4C0DCE; }
.links-block__question {
  font-family: "TTHoves-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 11px;
  color: #686868; }
  .links-block__question a {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 3px;
    color: #4C0DCE; }

.forgot-form {
  width: 348px;
  margin: 205px auto 0 auto; }

.form__input-wrapper {
  width: 349px;
  height: 61px;
  background: #F5F5F5;
  padding: 10.4px 15px 0 15px;
  margin-bottom: 20px; }
  .form__input-wrapper div {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #686868; }
  .form__input-wrapper .form__input {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: transparent;
    background: transparent;
    margin: 3.5px 0 0 -2px; }

.forgot-form_hide,
.thanks-block_hide,
.reset-pass-block_hide,
.success-block_hide {
  display: none; }

.thanks-block {
  width: 327px;
  margin: 321px auto 0 auto; }

.reset-pass-block {
  width: 349px;
  margin: 180px auto 0 auto; }

.success-block {
  width: 467px;
  margin: 280px auto 0 auto;
  text-align: center; }

.logo-page {
  width: 100%;
  min-height: 800px;
  background: url("../assets/login-bg.png") no-repeat; }

.connect {
  width: 421px;
  padding-top: 253px;
  margin: 0 auto;
  text-align: center; }
  .connect__descr, .connect__list {
    font-family: "Teodor-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.035em;
    color: #686868;
    margin-bottom: 28px; }
    .connect__descr span, .connect__list span {
      color: #4C0DCE; }
  .connect__descr {
    margin-bottom: 6px; }

@media (max-width: 480px) {
  .connect {
    width: 340px;
    margin: 0 auto;
    padding-top: 99px; }
    .connect__descr {
      padding: 0 38px; }
    .connect__list {
      margin-bottom: 19px; } }
@media (max-width: 360px) {
  .logo-page {
    width: 100%;
    min-height: 567px;
    background: url("../assets/login-bg-mob.png") no-repeat; } }
.footer {
  margin-top: 256.5px;
  padding: 53px 0 0 120px;
  min-height: 183px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }
  .footer_copy {
    font-family: "Teodor-Light", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #686868;
    letter-spacing: -0.04em;
    margin-top: 14.4px; }

.col1 {
  margin-right: 165px; }

.col2 {
  margin-right: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.info:first-child {
  margin-right: 188px; }
.info:last-child {
  margin-left: 119px; }
.info__item {
  text-transform: uppercase;
  margin-bottom: 8px; }
  .info__item:first-child {
    margin-bottom: 18px;
    font-family: "Teodor-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #686868;
    opacity: .7; }
  .info__item a {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.02em; }

.info__item_mobile,
.social-block_mobile {
  display: none; }

.social-block {
  width: 171px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.social-block-title {
  margin-bottom: 21px;
  font-family: "Teodor-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #686868;
  opacity: .7;
  text-transform: uppercase;
  letter-spacing: -0.03em; }

@media (max-width: 1550px) {
  .col1 {
    margin-right: 65px; }

  .col2 {
    margin-right: 70px; } }
@media (max-width: 1310px) {
  .info:first-child {
    margin-right: 88px; }
  .info:last-child {
    margin-left: 88px; } }
@media (max-width: 1180px) {
  .col1,
  .col2 {
    margin-right: 30px; } }
@media (max-width: 1100px) {
  .footer {
    padding: 53px 0 0 10px; } }
@media (max-width: 980px) {
  .info:first-child {
    margin-right: 15px; }
  .info:last-child {
    margin-left: 15px; } }
@media (max-width: 830px) {
  .info__item_mobile,
  .social-block_mobile {
    display: block; }

  .social-block {
    width: 303px; }

  .social-block-title {
    display: none; }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin-top: 125px;
    padding: 10px; }

  .col3 {
    order: -1; }

  .col1 {
    order: -2;
    margin-right: 0; }

  .col2 {
    margin-right: 0; }

  .social-block {
    margin-bottom: 15px; } }
@media (max-width: 470px) {
  .info__item:first-child {
    display: none; }

  .info__item_mobile {
    display: block; }

  .info_desktop {
    display: none; }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin-top: 101px;
    padding-top: 29.2px;
    padding-bottom: 29px; }

  .col2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap; }
    .col2 .info:last-child {
      margin-left: 0; }
    .col2 .info:first-child {
      margin-right: 0; }

  .social-block {
    margin-top: 23px; }

  .footer__logo {
    margin-top: 11px; }

  .footer_copy {
    margin-top: 6px; } }
.sing-up-block {
  margin-top: 80px; }

.wrapper-sing-up {
  margin: 0 auto;
  max-width: 1076px;
  padding-top: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.phone-banner {
  width: 419.41px; }

.activity-block {
  width: 452px;
  margin: 132px 0 0 126.59px;
  letter-spacing: -0.03em; }
  .activity-block_question {
    font-family: "Teodor-Thin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 27px; }
  .activity-block_yes, .activity-block_no {
    width: 270px;
    height: 49px;
    background: transparent;
    border-radius: 100px;
    font-family: "Teodor-Thin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .activity-block_yes {
    background: #4C0DCE; }
  .activity-block_no {
    border: 1px solid #181818;
    color: #181818; }

.sing-up-block_hide,
.create-profile_hide,
.sing-up-next_hide {
  display: none; }

.create-profile {
  margin-top: 80px; }

.form-block {
  width: 348px;
  margin: 0 auto; }

.form-profile {
  width: 100%; }
  .form-profile__instruction {
    margin: -3.6px 0 19px 0; }
  .form-profile span {
    display: inline-block;
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px; }
  .form-profile__danger {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 9px 0 17.5px 0;
    line-height: 21.6px; }
    .form-profile__danger span {
      font-family: "TTHoves-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #4C0DCE; }

.sing-up-next {
  margin-top: 80px; }
  .sing-up-next li {
    list-style-type: decimal;
    list-style-position: inside; }

.next {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }
  .next__phone {
    margin-top: 16px;
    margin-left: 120px;
    padding: 43.46px 59px 0 40px;
    width: 637px;
    height: 502px;
    background: radial-gradient(85.06% 85.06% at 51.81% 20.42%, rgba(255, 255, 255, 0) 0%, rgba(162, 162, 162, 0.2) 100%) #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap; }
  .next__descr {
    width: 235px;
    margin: 121px 44px 0 0; }
  .next__question {
    font-family: "Teodor-Thin", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.02em; }
    .next__question span {
      display: inline-block; }
  .next__instruction {
    font-family: "TTHoves-Light", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 36.2px 0 0 0;
    padding-left: 6px; }
  .next__item {
    margin-bottom: 3.5px;
    letter-spacing: 0.02em; }
    .next__item span {
      margin-left: -9px; }
  .next__banner {
    width: 259px;
    position: relative; }
  .next__banner-phone-email {
    width: 314.06px;
    height: 75px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #B8C7FF;
    border-radius: 22.5px;
    top: 146px;
    left: -27.8px;
    padding: 19.71px 0 0 18.75px; }
  .next__email {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10.31px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #A4ACBF; }
  .next__domain {
    font-family: "TTHoves-Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16.87px;
    color: #181818;
    margin-top: 7px; }
  .next__form {
    width: 420px;
    margin: 153px 0 0 91px;
    letter-spacing: -0.02em;
    line-height: 35px; }
  .next__input {
    margin-bottom: 19px; }
  .next__title {
    font-family: "TTHoves-Light", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 31px; }

/*# sourceMappingURL=style.css.map */
