.logo_complete-profile {
  width: 307px;
}
.title-input {
  @include font('Teodor-Thin', 300, 15px);
  letter-spacing: 0.02em;
  text-align: left;
}
.login-block_complete-profile {
  width: 307px;
  @include flex(flex-start, center);
  &__search {
    margin-right: 30px;
  }
  &__notify {
    margin: -3px 21.6px 0 0;
  }
  &__border {
    border: 1px solid #DADFEB;
    border-radius: 70px;
    @include flex(flex-end);
    width: 157px;
    height: 40px;
  }
  &__question {
    margin-right: 30px;
  }
  &__status {
    @include font('TTHoves-Regular', 400, 13px);
    line-height: 40px;
    margin-right: 9.2px;
    letter-spacing: 0.02em;
  }
}


// start page form
.complete-profile-block {
  width: 711px;
  margin: 65px auto 0 auto;
  @include font('Teodor-Thin', 300, 15px);
  letter-spacing: 0.02em;
}

.add-avatar {
  margin-top: 71px;
  text-align: center;
  &__label {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px dashed #A0A1A9;
    border-radius: 100px;
    margin: 20px 0;
    padding-top: 89px;
    background: #F5F5F5;
    cursor: pointer;
    @include font('TTHoves-Regular', 400, 13px);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4C0DCE;
    position: relative;
    &:before {
      position: absolute;
      content: url("../assets/cross-btn.png");
      top: 42px;
      left: 50%;
      transform: translateX(-50%);

    }
  }
  &__input {
    display: none;
  }
}

.recommended {
  @include font('TTHoves-Regular', 400, 14px);
  color: #6F7078;
  line-height: 18.2px;
  letter-spacing: -0.01em;
  span {
    display: block;
  }
}

.add-cover-image {
  margin-top: 78px;
  text-align: center;
  &__label {
    width: 100%;
    height: 150px;
    display: inline-block;
    background: #F5F5F5;
    border: 1px dashed #A0A1A9;
    margin-top: 20px;
    color: #4C0DCE;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include font('TTHoves-Regular', 400, 13px);
    line-height: 16.9px;
    padding-top: 88px;
    position: relative;
    &:before {
      content: url("../assets/cross-btn.png");
      top: 42px;
      left: 50.2%;
      transform: translateX(-50%);
      position: absolute;
    }
  }
  &__input {
    display: none;
  }
  &__recommended {
    margin-top: 20px;
  }
}
