.forgot-form {
  width: 348px;
  margin: 205px auto 0 auto;
}

.form__input-wrapper {
  width: 349px;
  height: 61px;
  background: #F5F5F5;
  padding: 10.4px 15px 0 15px;
  margin-bottom: 20px;
  div {
    @include font('TTHoves-Regular', 400, 13px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #686868;
  }
  .form__input {
    @include font('TTHoves-Regular', 400, 16px);
    width: 100%;
    border: none;
    outline: transparent;
    background: transparent;
    margin: 3.5px 0 0 -2px;
  }
}




// OTHER BLOCKS
.forgot-form_hide,
.thanks-block_hide,
.reset-pass-block_hide,
.success-block_hide {
  display: none;
}

.thanks-block {
  width: 327px;
  margin: 321px auto 0 auto;
}

.reset-pass-block {
  width: 349px;
  margin: 180px auto 0 auto;
}

.success-block {
  width: 467px;
  margin: 280px auto 0 auto;
  text-align: center;
}

