.forgot-form {
  width: 348px;
  margin: 206px auto 0 auto;
}
.forgot-form_hide {
  display: none;
}

.thanks-block {
  width: 327px;
  margin: 321px auto 0 auto;
}
.thanks-block_hide {
  display: none;
}

.reset-pass-block {
  width: 349px;
  margin: 181px auto 0 auto;
}
.reset-pass-block_hide {
  display: none;
}

