.header {
  margin: 15px 120px;
  @include flex(space-between);
}
.burger {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  &__item {
    position: absolute;
    width: 16px;
    height: 1px;
    background: #181818;
    left: 50%;
    transform: translateX(-50%);
  }
  &_top {
    top: 6.5px
  }
  &_bottom {
    bottom: 7px;
  }
}
.logo, .login-block {
  width: 190px;
  height: 30px;
}
.logo {
  margin: auto 0;
}
.tabs {
  @include flex(space-between);
  width: 396px;
  height: 40px;
  border: 1px solid #DADFEB;
  border-radius: 70px;
  &__item {
    width: 124px;
    height: 100%;
    border-radius: 100px;
    @include font('TT DRESSX', 400, 13px);
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    &_active {
      background: #F5F5F5;
    }
  }
}
.login-block {
  @include font('TT DRESSX', 400, 13px);
  width: 190px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  &__inner {
    width: 152.2px;
    height: 20px;
    margin: auto 0 auto 40px;
    @include flex(space-between);
  }
  &__login {
    padding-top: 6px;
  }
}

.tabs_active {
  display: block;
}

.links-block {
  width: 348px;
  margin: 49.2px auto 0 auto;
}

@media (max-width: 1100px) {
  .header {
    margin: 20px 10px;
  }
}
@media (max-width: 850px) {
  .burger {
    display: block;
  }
  .tabs,
  .login-block__question,
  .login-block__login {
    display: none;
  }
  .login-block,
  .login-block__inner {
    width: auto;
    margin: 0
  }
  .logo {
    width: 139.33px;
    height: 22px;
    margin: 0 auto;
  }
  .question {
    margin-top: 11px;
  }
}
