.logo-page {
  width: 100%;
  min-height: 800px;
  background: url("../assets/login-bg.png") no-repeat;
}

.connect {
  width: 421px;
  padding-top: 253px;
  margin:  0 auto;
  text-align: center;
  &__descr,
  &__list {
    @include font('Teodor-Light', 300, 20px);
    line-height: 26px;
    letter-spacing: -0.035em;
    color: #686868;
    margin-bottom: 28px;
    span {
      color: #4C0DCE;
    }
  }
  &__descr {
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .connect {
    width: 340px;
    margin: 0 auto;
    padding-top: 99px;
    &__descr {
      padding: 0 38px;
    }
    &__list {
      margin-bottom: 19px;
    }
  }
}

@media (max-width: 360px) {
  .logo-page {
    width: 100%;
    min-height: 567px;
    background: url("../assets/login-bg-mob.png") no-repeat;
  }
}
