.form-block {
  margin: 165px auto 0 auto;
  width: 348px;
}
.form-block_hide {
  display: none;
}

.form {
  width: 100%;
}

.links-block {
  &__forgot {
    @include font('TTHoves-Regular', 400, 13px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4C0DCE;
  }
  &__question {
    @include font('TTHoves-Regular', 400, 16px);
    margin-top: 11px;
    color: #686868;
    a {
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-size: 13px;
      margin-left: 3px;
      color: #4C0DCE;
    }
  }
}

