.form-profile-modify {
  margin-bottom: 12px;
  position: relative;
  &:after {
    content: 'change';
    position: absolute;
    top: 23px;
    right: 16.4px;
    @include font('TTHoves-Regular', 400, 13px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4C0DCE;
  }
}
