html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #181818;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #181818;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  color: #ffffff;
  border: none;
}

.container {
  max-width: 1680px;
  min-height: 985px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.ttf');
  src: local(''),
  url("../fonts/ArialMT.woff") format('woff');
}

@font-face {
  font-family: 'Teodor-Thin';
  src: url('../fonts/Teodor-Thin.ttf');
  src: local(''),
  url("../fonts/Teodor-Thin.woff") format('woff'),
  url("../fonts/Teodor-Thin.woff2") format('woff2');
}

@font-face {
  font-family: 'TTHoves-Light';
  src: url('../fonts/TTHoves-Light.ttf');
  src: local(''),
  url("../fonts/Teodor-Thin.woff2") format('woff2');
}

@font-face {
  font-family: 'TTHoves-Regular';
  src: url('../fonts/TTHoves-Regular.ttf');
  src: local(''),
  url("../fonts/TTHoves-Regular.woff2") format('woff2');
}

@import "common/mixins";
@import "common/input";
@import "common/button";
@import "common/title";
@import "header";
@import "sing-in";
@import "forgot";

@import "login";
@import "footer";
