.btn {
  width: 348px;
  height: 49px;
  background: #4C0DCE;
  border-radius: 100px;
  @include font("TTHoves-Regular", 400, 13px);
  line-height: 49px;
  text-transform: uppercase;
  &_modify {
    margin-top: 7px;
  }
}
