.btn {
  width: 348px;
  height: 49px;
  background: #4C0DCE;
  border-radius: 100px;
  @include font("TTHoves-Regular", 400, 13px);
  line-height: 49px;
  text-transform: uppercase;
  &_modify {
    margin-top: 7px;
  }
  &_login {
    position: relative;
    &:before {
      content: url("../assets/fox-icon.png");
      position: absolute;
      top: 10.1px;
      left: 17.2px;
    }
  }
}

@media (max-width: 480px) {
  .btn_login {
    width: 341px;
    &:before {
      top: 9.4px;
      left: 18.5px;
    }
  }
}
