.title {
  width: 100%;
  margin-bottom: 44.5px;
  @include font('Teodor-Thin', 400, 45px);
  letter-spacing: -0.01em;
  text-align: center;
  &_modify {
    margin-bottom: -5.5px;
  }
  &_login-modify {
    margin-bottom: 26px;
  }
}

.descr {
  @include font('TTHoves-Regular', 400, 16px);
  padding: 19px 0 29.5px 0;
  line-height: 21.6px;
  &_modify {
    text-align: center;
  }
  &_pt {
    padding-top: 19.6px;
  }
}

@media (max-width: 480px) {
  .title {
    &_login-modify {
      padding: 0 56px;
      margin-bottom: 20px;
      line-height: 45px;

    }
  }
}
